<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Upload Images to Server</title>
    <meta charset="utf-8">
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <h1>Upload Image</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
      <input type="file" accept="image/*" name="photo" class="modern">
      <input type="submit" value="upload" class="modern" >
    </form>
  </body>
</html>